@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P|Righteous&display=swap");
:root {
  --main-color: white;
  --body-bg: #580dd1;
  --mark-color: #f7f9fb;
  --main-bg: #222f3e;
  --btn-bg: #341f97;
  --sub-font: "Righteous";
  --main-font: "Lexend Deca";
  --pixel-font: "Press Start 2P";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: "Lexend Deca";
  font-weight: 500;
}
body {
  background: var(--mark-color);
}
/* top button */
.top-btn-box {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background: var(--btn-bg);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms cubic-bezier(0.5, -0.37, 0.42, 1.48);
  z-index: 3;
  transform: scale(0);
  opacity: 0.8;
}
.top-btn {
  font-family: "Righteous";
  font-size: 3.7rem;
  transform: rotate(-90deg);
  color: var(--main-color);
  transition: inherit;
}
.top-btn-box:hover {
  background: #00b894;
  transform: scale(1.2);
  transition-duration: 500ms;
}
/* loader */
.loader-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--main-bg);
  z-index: 5;
  transition: width 500ms ease;
  overflow: hidden;
}
.collapse {
  width: 0;
}
#loader h3 {
  overflow: hidden;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(231, 229, 229);
  font-family: var(--pixel-font);
  font-size: 4rem;
  font-weight: 500;
  animation: loader 1.5s infinite steps(4) reverse;
}
@keyframes loader {
  100% {
    width: 240px;
  }
}
/* header */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background: transparent;
  opacity: 0.95;
  z-index: 3;
  transition: all 300ms cubic-bezier(0.6, -0.54, 0.33, 1.55);
}
header {
  height: 12vh;
}
header .logo-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo-box .logo {
  font-family: "Righteous";
  font-size: 2.5rem;
  border: 0.4rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  transition: color 300ms ease;
}
.logo {
  color: white;
}
header .nav-box {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-box .active::after {
  width: 100%;
}
header .nav-box a {
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  transition: color 300ms ease;
}
header a {
  color: white;
}
header .nav-box a::after {
  content: "";
  width: 0%;
  height: 0.3rem;
  opacity: 0.9;
  display: block;
  border-radius: 0.2rem;
  margin: 0 auto;
  transition: width 300ms ease;
}
header a::after {
  background: #00cec9;
}
header .nav-box a:hover::after {
  width: 100%;
  transition-duration: 400ms;
}
.header-bg {
  box-shadow: 0px 0.1rem 5rem rgba(0, 0, 0, 0.2);
  background: var(--main-color);
  color: var(--main-bg);
}
.header-link {
  color: var(--main-bg);
}
.header-scale {
  height: 10vh;
}
/* footer */
footer {
  width: 100%;
  height: 10vh;
  background: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #ccc;
}
footer a:link,
footer a:visited {
  color: #00b894;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/image/hacked.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.bg .caption {
  z-index: 1;
  height: 70%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.bg .caption img {
  height: 70%;
}
.bg .caption h2 {
  font-size: 4.5rem;
  margin-top: 3rem;
}
#menu {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 6rem;
  height: 6rem;
  background: #00b894;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;
}
.menu {
  transform: scale(0);
}
.scale {
  transform: scale(1);
}
#menu .icon {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  transition: opacity 300ms ease;
}
.icon .bar {
  margin: 3px 0;
  width: 60%;
  height: 0.5rem;
  background: white;
  border-radius: 1rem;
}
#menu .list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 40vh;
  border-radius: 1rem;
  padding: 2rem 2rem;
  overflow: auto;
  opacity: 0;
  transition: opacity 200ms ease;
}
.list ul {
  font-size: 2rem;
  list-style: none;
}
#menu .list li a {
  display: inline-block;
  width: 100%;
  color: white;
  margin: 0.5rem 0;
  cursor: pointer;
  border-bottom: 2px solid;
}
#menu .list li a:hover {
  background: white;
  color: #00b894;
}
#menu:hover {
  height: 40vh;
  width: 20vw;
  border-radius: 1rem;
}
#menu:hover .icon {
  opacity: 0;
}
#menu:hover .list {
  opacity: 1;
}
#main {
  width: 65%;
  margin: 15vh auto;
  padding: 5% 5%;
  border-radius: 1rem;
  box-shadow: 0 0 10rem rgba(51, 50, 50, 0.2);
  color: var(--main-bg);
  padding-bottom: 1%;
}
#main .caption h3 {
  text-align: center;
  font-size: 6rem;
  position: relative;
}
#main .caption h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.7rem;
  border-radius: 1rem;
  background: var(--main-bg);
}
#main .caption h3::before {
  content: "#";
}
#main ul {
  margin: 3% auto;
  font-size: 2.2rem;
  list-style: none;
  width: max-content;
  text-align: center;
  border: 0.2rem solid #ccc;
  padding: 1rem 10%;
}
#main ul li {
  margin: 0.5rem 0;
}
#main ul li::before {
  content: "#";
}
#main .content {
  font-size: 2.5rem;
  margin-bottom: 5%;
}
#main .list li {
  color: var(--main-bg);
}
.list li a {
  color: var(--main-bg);
  border-bottom: 2px solid;
}
#main .list li:hover a {
  color: #00b894;
}
.section .caption {
  font-size: 4rem;
  font-weight: bold;
  margin: 1.5rem 0;
}
.section .caption::before {
  content: "#";
}
.section p {
  text-align: justify;
  margin: 4rem 0;
  text-indent: 1rem;
}
.section .textbox {
  background: #ddd;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
}
.section .textbox pre {
  font-family: "Lexend Deca";
  font-weight: normal;
  font-size: 2rem;
}
.section .img {
  background: #ddd;
  width: 100%;
  height: 60vh;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.img img {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img .img-caption {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
}
.section .end {
  margin: 2rem 0;
  font-style: italic;
  text-align: center;
  color: #888;
}
