@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Press+Start+2P|Righteous&display=swap");
:root {
  --main-color: white;
  --body-bg: #580dd1;
  --mark-color: #f7f9fb;
  --main-bg: #222f3e;
  --btn-bg: #341f97;
  --sub-font: "Righteous";
  --alter-font: "Lexend Deca";
  --pixel-font: "Press Start 2P";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-family: "Lexend Deca";
  font-weight: 500;
}
body {
  background: var(--mark-color);
}
/* top button */
.top-btn-box {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background: var(--btn-bg);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease;
  z-index: 3;
  transform: scale(0);
}
.top-btn {
  font-family: "Righteous";
  font-size: 3.7rem;
  transform: rotate(-90deg);
  color: var(--main-color);
  transition: inherit;
}
.scale {
  transform: scale(1);
}
.top-btn-box:hover {
  background: #00b894;
  transform: scale(1.2);
}
/* loader */
.loader-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--main-bg);
  z-index: 5;
  transition: width 500ms ease;
  overflow: hidden;
}
.collapse {
  width: 0;
}
#loader h3 {
  overflow: hidden;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--pixel-font);
  font-size: 4rem;
  font-weight: 500;
  animation: loader 1.5s infinite steps(4) reverse;
}
@keyframes loader {
  100% {
    width: 240px;
  }
}
/* header */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background: transparent;
  opacity: 0.95;
  z-index: 3;
  transition-property: color background height;
  transition: 400ms ease;
}
header {
  height: 12vh;
}
header .logo-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
}
header .logo-box .logo {
  font-family: "Righteous";
  font-size: 2.5rem;
  border: 0.4rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  transition: color 300ms ease;
}
.logo {
  color: white;
}
header .nav-box {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}
header .nav-box .active::after {
  width: 100%;
}
header .nav-box a {
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  transition: color 300ms ease;
}
header a {
  color: white;
}
header .nav-box a::after {
  content: "";
  width: 0%;
  height: 0.3rem;
  opacity: 0.9;
  display: block;
  border-radius: 0.2rem;
  margin: 0 auto;
  transition: width 300ms ease;
}
header a::after {
  background: #00cec9;
}
header .nav-box a:hover::after {
  width: 100%;
  transition-duration: 400ms;
}
.header-bg {
  box-shadow: 0px 0.1rem 5rem rgba(0, 0, 0, 0.2);
  background: var(--main-color);
  color: var(--main-bg);
}
.header-link {
  color: var(--main-bg);
}
.header-scale {
  height: 10vh;
}
/* footer */
footer {
  width: 100%;
  height: 20vh;
  padding: 0 10%;
  background: var(--main-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
  color: #ccc;
}
footer .item {
  font-size: 1.5rem;
  width: max-content;
}
footer .logo {
  font-size: 1.8rem;
  border: 2px solid;
  font-family: var(--sub-font);
  padding: 6px 8px;
  border-radius: 0.5rem;
  font-style: normal;
  color: #ccc;
}
footer a:link,
footer a:visited {
  color: #00b894;
  text-decoration: none;
}
a {
  text-decoration: none;
}
